$ORIGIN _smimecert.example.com.
$TTL 300

@   IN  SOA ns1.example.com admin.example.com. (
            20170410    ; serial
            604800      ; refresh
            86400       ; retry
            2419200     ; expire
            604800)     ; negative cache ttl

        NS  ns1.example.com.
        NS  ns2.example.com.
